# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [3]:
import pandas as pd

## imports for Python, Pandas

In [6]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [798]:
import json
#import matplotlib.pylot as plt
import pandas as pd
from pandas.io.json import json_normalize

#Get data into dataframe from file and assign to variable wbdf
wbdf = pd.read_json('data/world_bank_projects.json')

In [794]:
'''Solution #1
Select data using Group-by countrycode and countryname and count countrycode using size.
Sort values in descending order so that highest counts are on top.
Use head to get the top ten.'''

'''Solution #2
Selected countryname column, counted values and requested the top 10'''

#wbdf.countryname.value_counts().head(10)

wbdf.groupby(['countrycode', 'countryname']).size().sort_values(ascending = False).head(10).reindex()

countrycode  countryname
CN           People's Republic of China         19
ID           Republic of Indonesia              19
VN           Socialist Republic of Vietnam      17
IN           Republic of India                  16
RY           Republic of Yemen                  13
NP           Nepal                              12
BD           People's Republic of Bangladesh    12
MA           Kingdom of Morocco                 12
MZ           Republic of Mozambique             11
3A           Africa                             11
dtype: int64

In [790]:
''' An attempt to plot histogram using countryname and counts'''

#from plotly.graph_objs import *

wb_reindexed = pd.DataFrame(wbdf.countryname.value_counts().head(10)).reset_index()
wb_reindexed
#data = [Bar(x=wb_reindexed.index,
            #y=wb_reindexed.countryname)]

#py.iplot(data)

                             index  countryname
0       People's Republic of China           19
1            Republic of Indonesia           19
2    Socialist Republic of Vietnam           17
3                Republic of India           16
4                Republic of Yemen           13
5  People's Republic of Bangladesh           12
6                            Nepal           12
7               Kingdom of Morocco           12
8                           Africa           11
9           Republic of Mozambique           11

In [413]:
'''Create new dataFrame using pandas and list comprehension to add dictionaries to table with code and name columns.
Select data using Group-by code and name and count code using size.
Sort values in descending order so that highest counts are on top.
Use head to get the top ten items.'''

pd.DataFrame([x for x in wbdf.mjtheme_namecode for x in x]).groupby(['code', 'name']).size().sort_values(ascending = False).head(10)

CPU times: user 12.4 ms, sys: 6.79 ms, total: 19.2 ms
Wall time: 23.8 ms

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
dtype: int64

In [524]:
#Assign variable to dataframe used in question 2
new_df = pd.DataFrame([x for x in wbdf.mjtheme_namecode for x in x])

In [527]:
#Set name column items without names to 'None'
new_df.name[new_df.name == ''] = None

In [575]:
#Sorted dataframe by code and filled code forward on 'None' values using 'ffill' method
csdf = new_df.sort_values('code').ffill()

In [582]:
#Display new dataframe
csdf

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management
1437    1  Economic management
357     1  Economic management
363     1  Economic management
1010    1  Economic management
784     1  Economic management
1024    1  Economic management
88      1  Economic management
1045    1  Economic management
497     1  Economic management
1056    1  Economic management
1057    1  Economic management
1114    1  Economic management
454     1  Economic management
453     1  Economic management
1257    1  Economic management
1260    1  Economic management
1212    1  Economic management
249     1  Economic management
841     1  Economic management
220     1  Economic management
...   ...                  ...
669     9    Urban development
1303    9    Urban development
1347    9    Urban development
460     9    Urban development
1342    9    Urban development
183     9    Urban development
200     9    Urban development
1318    9    Urban development
1290    9    Urban development
585     9    Urban development
737     9    Urban development
822     9    Urban development
369     9    Urban development
597     9    Urban development
53      9    Urban development
598     9    Urban development
356     9    Urban development
354     9    Urban development
962     9    Urban development
738     9    Urban development
512     9    Urban development
742     9    Urban development
1428    9    Urban development
333     9    Urban development
1426    9    Urban development
1425    9    Urban development
447     9    Urban development
739     9    Urban development
341     9    Urban development
1102    9    Urban development

[1499 rows x 2 columns]

In [604]:
import plotly
plotly.tools.set_credentials_file (username = 'robmjoseph', api_key = 'pzWOCon3iXwBPurXXrDK')

In [657]:
#Create new Dataframe with countryshortname and totalamt to prepare for merge with country data
cnt = wbdf[['countryshortname', 'totalamt']].sort_values(by='countryshortname')

In [613]:
#Read in data file containing country codes that can be used on world map
globe_df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [736]:
#Display data from file
globe_df

                    COUNTRY  GDP (BILLIONS) CODE
0               Afghanistan           21.71  AFG
1                   Albania           13.40  ALB
2                   Algeria          227.80  DZA
3            American Samoa            0.75  ASM
4                   Andorra            4.80  AND
5                    Angola          131.40  AGO
6                  Anguilla            0.18  AIA
7       Antigua and Barbuda            1.24  ATG
8                 Argentina          536.20  ARG
9                   Armenia           10.88  ARM
10                    Aruba            2.52  ABW
11                Australia         1483.00  AUS
12                  Austria          436.10  AUT
13               Azerbaijan           77.91  AZE
14             Bahamas, The            8.65  BHM
15                  Bahrain           34.05  BHR
16               Bangladesh          186.60  BGD
17                 Barbados            4.28  BRB
18                  Belarus           75.25  BLR
19                  Belgium          527.80  BEL
20                   Belize            1.67  BLZ
21                    Benin            9.24  BEN
22                  Bermuda            5.20  BMU
23                   Bhutan            2.09  BTN
24                  Bolivia           34.08  BOL
25   Bosnia and Herzegovina           19.55  BIH
26                 Botswana           16.30  BWA
27                   Brazil         2244.00  BRA
28   British Virgin Islands            1.10  VGB
29                   Brunei           17.43  BRN
..                      ...             ...  ...
192                  Sweden          559.10  SWE
193             Switzerland          679.00  CHE
194                   Syria           64.70  SYR
195                  Taiwan          529.50  TWN
196              Tajikistan            9.16  TJK
197                Tanzania           36.62  TZA
198                Thailand          373.80  THA
199             Timor-Leste            4.51  TLS
200                    Togo            4.84  TGO
201                   Tonga            0.49  TON
202     Trinidad and Tobago           29.63  TTO
203                 Tunisia           49.12  TUN
204                  Turkey          813.30  TUR
205            Turkmenistan           43.50  TKM
206                  Tuvalu            0.04  TUV
207                  Uganda           26.09  UGA
208                 Ukraine          134.90  UKR
209    United Arab Emirates          416.40  ARE
210          United Kingdom         2848.00  GBR
211           United States        17420.00  USA
212                 Uruguay           55.60  URY
213              Uzbekistan           63.08  UZB
214                 Vanuatu            0.82  VUT
215               Venezuela          209.20  VEN
216                 Vietnam          187.80  VNM
217          Virgin Islands            5.08  VGB
218               West Bank            6.64  WBG
219                   Yemen           45.45  YEM
220                  Zambia           25.61  ZMB
221                Zimbabwe           13.74  ZWE

[222 rows x 3 columns]

In [658]:
#Change the names of the columns of the cnt Dataframe to COUNTRY and LOAN in preparation for merge operation
cnt.columns = ['COUNTRY', 'LOAN']

In [740]:
#Display Dataframe with new names
cnt

                 COUNTRY       LOAN
64           Afghanistan   50000000
136          Afghanistan   12500000
367          Afghanistan          0
93           Afghanistan          0
306          Afghanistan  100000000
285          Afghanistan   55000000
99                Africa   60000000
167               Africa   60000000
65                Africa  339900000
287               Africa   90000000
58                Africa          0
51                Africa          0
46                Africa   22000000
45                Africa          0
449               Africa  203000000
184               Africa  213000000
353               Africa          0
348              Albania          0
135              Albania          0
383              Albania   40000000
473              Albania          0
30                Angola   75000000
151  Antigua and Barbuda   10000000
72             Argentina          0
38             Argentina          0
347              Armenia          0
94               Armenia          0
332              Armenia          0
330              Armenia   45000000
234              Armenia          0
..                   ...        ...
282              Vietnam  250000000
249              Vietnam          0
350              Vietnam          0
333              Vietnam  156000000
491   West Bank and Gaza          0
389   West Bank and Gaza          0
177   West Bank and Gaza          0
178   West Bank and Gaza          0
37    West Bank and Gaza          0
69    West Bank and Gaza          0
55                 World          0
238                World          0
143   Yemen, Republic of          0
3     Yemen, Republic of          0
318   Yemen, Republic of  100000000
144   Yemen, Republic of          0
190   Yemen, Republic of    5000000
317   Yemen, Republic of   66000000
314   Yemen, Republic of   40000000
50    Yemen, Republic of          0
301   Yemen, Republic of          0
246   Yemen, Republic of   25000000
76    Yemen, Republic of   20000000
418   Yemen, Republic of          0
239   Yemen, Republic of          0
204               Zambia          0
480               Zambia          0
169               Zambia  105000000
228               Zambia   50000000
89              Zimbabwe          0

[500 rows x 2 columns]

In [697]:
#Create new Dataframe with rows in LOAN column deleted if the value is 0
fil_df = cnt[cnt['LOAN'] != 0]

In [799]:
#Groupby on COUNTRY and sum multiple loan values for each country
fil_df.groupby('COUNTRY')['LOAN'].sum()

COUNTRY
Afghanistan                       217500000
Africa                            987900000
Albania                            40000000
Angola                             75000000
Antigua and Barbuda                10000000
Armenia                           110000000
Azerbaijan                        301600000
Bangladesh                       1566500000
Belarus                            90000000
Benin                              92000000
Bhutan                             45000000
Bolivia                            74000000
Bosnia and Herzegovina             34100000
Brazil                           2326200000
Burkina Faso                      335000000
Burundi                            50000000
Cameroon                          158000000
Cape Verde                         19000000
Chad                               15000000
China                            1540000000
Colombia                          950000000
Comoros                            13000000
Congo, Democratic Republic of     456950000
Congo, Republic of                 10000000
Costa Rica                        200000000
Cote d'Ivoire                     160000000
Croatia                           344050000
Djibouti                           13000000
Ecuador                           305000000
Egypt, Arab Republic of           585400000
                                    ...
Philippines                       400000000
Poland                           1307800000
Romania                            91800000
Russian Federation                170000000
Rwanda                            160000000
Samoa                              40000000
Sao Tome and Principe               5500000
Senegal                           115000000
Serbia                            100000000
Seychelles                         14000000
Sierra Leone                       13000000
Solomon Islands                     5000000
South Asia                         99000000
South Sudan                        71000000
Sri Lanka                         200000000
Tajikistan                         71000000
Tanzania                          606460000
Timor-Leste                        40000000
Togo                               14000000
Tonga                               1800000
Tunisia                           500000000
Turkey                           1301000000
Tuvalu                              6060000
Uganda                            262000000
Ukraine                           460000000
Uruguay                           366000000
Uzbekistan                        315000000
Vietnam                          1832400000
Yemen, Republic of                256000000
Zambia                            155000000
Name: LOAN, Length: 101, dtype: int64

In [749]:
#Create a new Dataframe with a new index in preparation for merge operation
fil2_df = pd.DataFrame(fil2_df).reset_index()

In [750]:
#Output Dataframe
fil2_df

                           COUNTRY        LOAN
0                      Afghanistan   217500000
1                           Africa   987900000
2                          Albania    40000000
3                           Angola    75000000
4              Antigua and Barbuda    10000000
5                          Armenia   110000000
6                       Azerbaijan   301600000
7                       Bangladesh  1566500000
8                          Belarus    90000000
9                            Benin    92000000
10                          Bhutan    45000000
11                         Bolivia    74000000
12          Bosnia and Herzegovina    34100000
13                          Brazil  2326200000
14                    Burkina Faso   335000000
15                         Burundi    50000000
16                        Cameroon   158000000
17                      Cape Verde    19000000
18                            Chad    15000000
19                           China  1540000000
20                        Colombia   950000000
21                         Comoros    13000000
22   Congo, Democratic Republic of   456950000
23              Congo, Republic of    10000000
24                      Costa Rica   200000000
25                   Cote d'Ivoire   160000000
26                         Croatia   344050000
27                        Djibouti    13000000
28                         Ecuador   305000000
29         Egypt, Arab Republic of   585400000
..                             ...         ...
71                     Philippines   400000000
72                          Poland  1307800000
73                         Romania    91800000
74              Russian Federation   170000000
75                          Rwanda   160000000
76                           Samoa    40000000
77           Sao Tome and Principe     5500000
78                         Senegal   115000000
79                          Serbia   100000000
80                      Seychelles    14000000
81                    Sierra Leone    13000000
82                 Solomon Islands     5000000
83                      South Asia    99000000
84                     South Sudan    71000000
85                       Sri Lanka   200000000
86                      Tajikistan    71000000
87                        Tanzania   606460000
88                     Timor-Leste    40000000
89                            Togo    14000000
90                           Tonga     1800000
91                         Tunisia   500000000
92                          Turkey  1301000000
93                          Tuvalu     6060000
94                          Uganda   262000000
95                         Ukraine   460000000
96                         Uruguay   366000000
97                      Uzbekistan   315000000
98                         Vietnam  1832400000
99              Yemen, Republic of   256000000
100                         Zambia   155000000

[101 rows x 2 columns]

In [751]:
#Perform merge operation on 'fil2_df' and 'globe-df' Dataframes on 'COUNTRY' column
merged_df = pd.merge(fil2_df, globe_df, on='COUNTRY')

In [801]:
#Display merged Dataframe
merged_df[['COUNTRY', 'CODE', 'LOAN']]

                   COUNTRY CODE        LOAN
0              Afghanistan  AFG   217500000
1                  Albania  ALB    40000000
2                   Angola  AGO    75000000
3      Antigua and Barbuda  ATG    10000000
4                  Armenia  ARM   110000000
5               Azerbaijan  AZE   301600000
6               Bangladesh  BGD  1566500000
7                  Belarus  BLR    90000000
8                    Benin  BEN    92000000
9                   Bhutan  BTN    45000000
10                 Bolivia  BOL    74000000
11  Bosnia and Herzegovina  BIH    34100000
12                  Brazil  BRA  2326200000
13            Burkina Faso  BFA   335000000
14                 Burundi  BDI    50000000
15                Cameroon  CMR   158000000
16                    Chad  TCD    15000000
17                   China  CHN  1540000000
18                Colombia  COL   950000000
19                 Comoros  COM    13000000
20              Costa Rica  CRI   200000000
21           Cote d'Ivoire  CIV   160000000
22                 Croatia  HRV   344050000
23                Djibouti  DJI    13000000
24                 Ecuador  ECU   305000000
25                Ethiopia  ETH  1245000000
26             Gambia, The  GMB     5000000
27                 Georgia  GEO   165000000
28                   Ghana  GHA   252000000
29               Guatemala  GTM   200000000
..                     ...  ...         ...
58                  Panama  PAN   100000000
59        Papua New Guinea  PNG     7300000
60                    Peru  PER   125000000
61             Philippines  PHL   400000000
62                  Poland  POL  1307800000
63                 Romania  ROU    91800000
64                  Rwanda  RWA   160000000
65                   Samoa  WSM    40000000
66   Sao Tome and Principe  STP     5500000
67                 Senegal  SEN   115000000
68                  Serbia  SRB   100000000
69              Seychelles  SYC    14000000
70            Sierra Leone  SLE    13000000
71         Solomon Islands  SLB     5000000
72             South Sudan  SSD    71000000
73               Sri Lanka  LKA   200000000
74              Tajikistan  TJK    71000000
75                Tanzania  TZA   606460000
76             Timor-Leste  TLS    40000000
77                    Togo  TGO    14000000
78                   Tonga  TON     1800000
79                 Tunisia  TUN   500000000
80                  Turkey  TUR  1301000000
81                  Tuvalu  TUV     6060000
82                  Uganda  UGA   262000000
83                 Ukraine  UKR   460000000
84                 Uruguay  URY   366000000
85              Uzbekistan  UZB   315000000
86                 Vietnam  VNM  1832400000
87                  Zambia  ZMB   155000000

[88 rows x 3 columns]

In [760]:
merged_df2 = merged_df[['COUNTRY', 'CODE', 'LOAN']]

In [775]:
#Plot of LOAN amounts on world map by CODE
import plotly.plotly as py
import pandas as pd

data = [ dict(
        type = 'choropleth',
        locations = merged_df2['CODE'],
        z = merged_df2['LOAN'],
        text = merged_df2['COUNTRY'],
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '$',
            title = 'LOANS<br>Billions US$'),
      ) ]

layout = dict(
    title = 'World Bank Data',
    geo = dict(
        showframe = True,
        showcoastlines = True,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False)